@import url('https://fonts.google.com/specimen/Bebas+Neue');

button {
  background: #EFEEE6;
  color: #020100;
  font-family: 'Bebas Neue';
  border: none;
}

.button-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
  
.button-grid {
  padding-top: 16%;
  padding-bottom: 16%;
  border-radius: 5px;
  margin: 2.5%;
  font-weight: 900;
  font-size: 2.2vw;
}

.life{
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.life-dot {
  background: #202020;
  border-radius: 25px;
  width: 30px;
  height: 30px;
  margin: 1%;
}

.selected {
  background: #020100;
  color: #EFEEE6;
}

.solved {
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}

.solved.number0{
  background: yellow;
}

.solved.number1{
  background: green;
}

.solved.number2{
  background: blue;
}

.solved.number3{
  background: purple;
}

p {
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}
