.button-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
  
.button-grid {
  background: #FF00FF;
  color: #FFFFFF;
  padding: 5%;
  border-radius: 15px;
  margin: 3%;
}
