@import url('https://fonts.googleapis.com/css2?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css2?family=Roboto');

:root {
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

button {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  background: rgba(1,1,1,0);
  border: 1px #000000 solid;
  border-radius: 40px;
  margin-left: 7px;
  margin-right: 7px;
  padding: 15px;
}

.middle-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical-align {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50rem;
}

.delete-button {
  margin: 5px;
}

.name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-container {
  width: 100%;
  min-width: 400px;
  max-width: 700px;
  margin-inline: auto;
}

.button-grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
}

.instructions {
  margin-top: 15px;
  margin-left: 15vw;
  margin-right: 15vw;
  text-align: center;
}

h3 {
  font-family: 'Fjalla One';
  font-size: 30px;
  font-weight: 550;
}

input {
  margin-left: 7px;
  margin-right: 7px;
  color: #606060;
  font-size: 14px;
  font-weight: 500;
  border-radius: 40px;
  border: 1px #000000 solid;
  height: 28px;
  padding: 8px;
}

select {
  margin-right: 7px;
  margin-left: 7px;
  border-radius: 40px;
  height: 46px;
}
  
.button-grid {
  background: #EFEFE6;
  margin: 0px;
  color: #151515;
  padding-top: 20%;
  font-family: 'Fjalla One';
  padding-bottom: 20%;
  border-radius: 8px;
  border: 0px;
  font-weight: 500;
  font-size: min(3vw,22px);
  overflow: hidden;
  white-space: nowrap;
}

.life-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.life-container p {
  margin-top: 18px;
  font-size: 15px;
  color: #706F66;
}

.life{
  margin-left: 10px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  width: 80px;
}

.life-dot {
  background: #5A594E;
  border-radius: 25px;
  width: 15px;
  height: 15px;

}

.selected {
  background: #5A594E;
  color: #F8F8F8;
}

.deactivated {
  border: #979797 1px solid;
  color: #979797;
}

.activated {
  background: #121212;
  color: #F8F8F8;
  transition-duration: 0.2s;
}

.activated:hover {
  background: #5A5A5A;

}

.columns {
  margin: 10px;
  display: flex;
}

.column {
  width: 50%;
}

.solved {
  padding: 6px;
  font-family: 'Fjalla One';
  margin-bottom: 6px;
  text-align: center;
  border-radius: 8px;
}

.solved h3 {
  font-size: min(22px,max(3vw,12px));
}

.solved.number0{
  background: #F9DF6D;
}

.solved.number1{
  background: #A0C35A;
}

.solved.number2{
  background: #B0C4EF;
}

.solved.number3{
  background: #BB81C5;
}

p {
  margin-top: 0;
  font-size: min(15px,max(8px,2vw));
  font-family: 'Roboto';
}

h3 {
  margin-bottom: 0;
  font-size: 3vw;
}
